extends layout


block header
	h1 #{title}
	a(href="/logout", class="ui-btn-right") Logout

block content
	mixin listItem(name, location, time)
		li(data-icon="false"): a #{name} checked in at #{location}
	ul(data-role="listview")
		each checkin in checkins
			+listItem(checkin.name, checkin.location, checkin.time)


	