extends layout

append scripts
	link(rel="stylesheet", href="/shop.css")

block header
	h1 #{title}
	a(href="/profile/#{user_id}") Profile

block content
	#main
		.center
			form(name="createForm", action="/profile/#{user_id}/uri", method="post", data-ajax="false")
				lable(class="label") Register URI
				input(type="text", name="uri", id="uri", value="", placeholder="Event Url")
				input(type="submit", name="register", id="register", value="Register")
			br
			br
			form(name="unregister", action="/profile/#{user_id}/uri/delete", method="post", data-ajax="false")
				lable(class="label") Unregister URI
				input(type="submit", name="register", id="register", value="Unregister")

block footer